{% load static %}
<div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
    <div class="carousel-item active">
        <img src="{% static 'reserv/assets/img/hero-carousel/hero-carousel-1.jpg' %}" alt="">
        <div class="carousel-container">
            <h2><span>Savor</span> Restaurant</h2>
            <p>Каждый кусочек - наслаждение, которое пробуждает чувства и вдохновляет.</p>
            <div>
                <a href="#menu" class="btn-get-started">Меню</a>
                <a href="#book-a-table" class="btn-get-started">Бронирование</a>
            </div>
        </div>
    </div>
</div>
