{% extends 'reserv/base.html' %}
{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-6">
            <div class="alert alert-success text-center mt-5">
                Письмо с инструкциями по сбросу пароля отправлено на указанный email, если он зарегистрирован.
            </div>
            <div class="text-center mt-3">
                <a href="{% url 'users:login' %}" class="btn btn-warning">Войти с новым паролем</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
