{% extends 'reserv/base.html' %}
{% block content %}
<div class="container">
    <form class="row d-flex justify-content-center align-items-center" method="post">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    {% csrf_token %}

                    {% if form.errors %}
                        <div class="alert alert-danger">
                            Пожалуйста, исправьте ошибки ниже.
                        </div>
                    {% endif %}

                    {{ form.as_p }}

                    <div class="mb-3">
                        <a href="{% url 'password_reset' %}">Забыли пароль?</a>
                    </div>
                    <div>
                        Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">
                    Войти
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
